<?xml version="1.0" encoding="UTF-8"?>

<!-- 必要に応じてtomcatの起動パラメータに-Dspring.profiles.activeを付与する -->
<configuration>
	<if condition='isDefined("spring.profiles.active")'>
		<then>
			<include resource="logback/logback-${spring.profiles.active}.xml" />
		</then>
		<else>
			<include resource="logback/logback-default.xml" />
		</else>
	</if>
</configuration>