<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%date\t[%thread]\t%-5level\t%logger{36}\t%msg%n</pattern>
		</encoder>
	</appender>

	<root>
		<appender-ref ref="STDOUT" />
	</root>
</configuration>