<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE logback>
<included>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${logpath}/application-${date}.log</file>
        <Append>true</Append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>[local]${format}</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[local]${format}</pattern>
        </encoder>
    </appender>
    <root>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</included>
